<html>
<title>Registration page</title>

<head>

<body>
    <h1>add Product page</h1>
    <form method="POST" action="/admin/addproduct">

        <label>name:</label>
        <input type="text" name="name" /></br></br>

        <label> description:</label>
        <input type="text" name="description" /></br></br>

        <label> price:</label>
        <input type="number" name="price" /></br></br>

        <label> currency:</label>
        <input type="text" name="currency" /></br></br>

        <input type="submit" value="add product" />
    </form>
</body>
</head>

</html>