<html>
<title>login page</title>

<head>

<body>
    <h1>login page</h1>
    <form method="POST" action="/login">
        <label> username:</label>
        <input type="email" name="username" /></br></br>
        <label> password:</label>
        <input type="password" name="password" /></br></br>
        <input type="submit" value="login" />
    </form>

    <h2>Don't have an account? Register below..!!!</h2>
    <a href="/register"><button>register</button></a>
</body>
</head>

</html>