<html>
<title>Registration page</title>

<head>

<body>
    <h1>Registration page</h1>
    <form method="POST" action="/register">

        <label> firstname:</label>
        <input type="text" name="firstname" /></br></br>

        <label> lastname:</label>
        <input type="text" name="lastname" /></br></br>

        <label> email:</label>
        <input type="email" name="email" /></br></br>

        <label> password:</label>
        <input type="password" name="password" /></br></br>

        <input type="submit" value="register" />
    </form>
</body>
</head>

</html>